.contentCard {
    max-width: 340px;
    margin-top: 120px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.textContainer {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.contentImage {
    max-width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.contentTitle {
    
    font-weight: bold;
}

.contentText {
    font-size: 12px;
    font-weight: normal;
}

.hyperLink {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
}