.cardContainer {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 188px;
    margin-top: 30px
}

.textContainer {
    margin-left: 10px;
}